.DS_Store
xcshareddata/
MetalXR.xcodeproj/project.xcworkspace/xcuserdata/
MetalXR.xcodeproj/xcuserdata/
Runtime/MetalXRRuntime/build/
Runtime/MetalXRHost/build/
Runtime/MetalXRProtocol/build/
Builds/
TestProjects/UnityOpenXRSmoke/Builds/
